@use "./../../../sass/index.scss" as *;
.filter__category {
  display: flex;
  flex-wrap: wrap;

  row-gap: 10px;

  column-gap: 10px;

  .filter__group {
    flex-basis: calc(33.333% - 8px);

    @include tablets {
      flex-basis: calc(23% - 8px);
    }
    & > select {
      padding: 10px 5px;

      width: 100%;
    }
  }
  .filter__category--btn {
    & > button {
      padding: 10px;

      border: none;

      background: rgb(17, 17, 105);
      color: white;

      cursor: pointer;
    }
  }
}
