$box-shadow:#e0e0e0 -2px 2px 29px 0px;
$mobile-width:600px;
$tablets-width:1024px;
$tabletsheader-width:769px;
$tablet-width:1367px;

$font-family:"Montserrat",sans-serif;


$primary:#252a2b;
$white:#fff;
$black:#000;