@use "./../../../../../sass/index.scss" as *;
.video {
  .video_header {
    .video_block {
      @include mobile {
        width: 90%;
        margin: auto;
      }
      @include tablet {
        width: 72%;
        margin: auto;
      }
      .video_play {
        width: 95%;
        margin: auto;
        position: relative;
        height: 200px;
        @include mobile {
          width: 100%;
          height: 340px;
        }
        @include tablet {
          width: 100%;
          height: 455px;
        }
      }
      .video_pratice {
        .video_choosing {
          & > p {
            font-size: 20px;
            color: #b1bbb8;
            padding: 1.5rem;
            font-weight: 600;
          }
        }
        .video_action {
          display: flex;
          flex-wrap: wrap;

          row-gap: 10px;
          .btn_action {
            & > button {
              width: 38px;
              height: 38px;
              border: none;
              flex-shrink: 0;
              border-radius: 100%;
              margin-left: 10px;
              background-color: #3898ec;
              color: white;
            }
          }
        }
      }
      .video_waning {
        //   margin-top: 1rem;
        //   margin-bottom: 1rem;
        background-color: black;
        border: 2px solid rgb(76, 76, 15);
        width: 95%;
        margin: 2rem auto 2rem auto;

        & > p {
          font-size: 14px;
          padding: 1rem;
          color: #cecece;
          font-weight: 600;
          & > strong {
            font-size: 15px;
            color: white;
            // font-weight: 900;
          }
        }
      }
      .video_comment {
        .comment_title {
          display: flex;
          align-items: center;
          // column-gap: 20px;
          & > span {
            font-size: 23px;
            color: #ffb800;
            font-weight: 600;
            // flex: 1;
            // margin-right: 20px;
          }
          & > img {
            width: 70%;
            @include tablet {
              width: 40%;
            }
          }
        }
        .commet_people {
          // position: relative;
          background-color: white;
          width: 95%;
          margin: 3rem auto 3rem auto;
          @include tablet {
            width: 80%;
          }
        }
      }
    }
  }
  .video_countine {
    .video_title {
      text-align: center;
      padding: 4rem 0 3rem 0;
      & > span {
        font-size: 30px;
        color: #ba970c;
        text-align: center;
        font-weight: 900;
      }
    }
  }
}
