@use "./../../../sass/index.scss" as *;
.movie {
  background: #081b27;
  min-height: 80vh;
  @include tablets {
    min-height: 100vh;
  }
  @include tablet {
    min-height: 200vh;
  }
  &_search {
    position: relative;
    transform: translateY(30px);
    margin-bottom: 10rem;
    //  padding-top: 50px;
    @include tablet {
      width: 71%;
      margin: auto;
      display: inherit;
    }
    & > form {
      & > input {
        height: 40px;
        width: 100%;
        border-radius: 5px;

        @include tablets {
          width: 90%;
          margin: auto;
          display: inherit;
        }
      }
      & > button {
        position: absolute;
        right: 0;
        background: #3898ec;
        border: none;
        /* border: navajowhite; */
        padding-right: 2rem;
        border-radius: 5px;
        height: 100%;
        top: 0;
        padding-left: 2rem;
        font-size: 16px;
        color: white;
        font-weight: 600;
        @include tablets {
          position: absolute;
          right: 48px;
          height: 100%;
          top: 0;
          padding-left: 2rem;
          /* padding: 2rem; */
          background: #3898ec;
          border: none;
          /* border: navajowhite; */
          padding-right: 2rem;
          border-radius: 5px;
        }
      }
    }
  }

  .movie_container {
    margin: auto;
    @include tablets {
      display: flex;
      //   column-gap: 20px;

      margin-top: 150px;
    }
    @include tablet {
      //  justify-content: space-between;
    }
    @include tablet {
      width: 71%;
      //  margin: 150px auto;

      margin-top: 100px;
      padding-bottom: 150px;
    }
    .movie_right {
      @include tablets {
        flex: 2.8;
        // background-color: red;
        // height: 500px;
      }

      .movie_title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        // font-family: Catamaran,sans-serif !important;
        // font-family: Nunito,sans-serif !important;
        @include tablets {
          flex-direction: row;
          display: flex;
          align-items: center;

          justify-content: space-between;
        }
        & > span {
          margin-top: 40px;
          margin-bottom: 40px;
          color: #f1b722;
          font-size: 28px;
          line-height: 38px;
          font-weight: 900;
          text-transform: uppercase;
          @include mobile {
            margin-bottom: 60px;
            font-size: 30px;
            font-family: Nunito, sans-serif !important;
          }

          @include tablets {
            font-size: 38px;
            margin-bottom: 40px;
            font-family: Nunito, sans-serif !important;
          }
        }
        .tab {
          display: flex;
          margin-bottom: 7rem;
          @include mobile {
            margin-bottom: 5rem;
          }
          @include tablets {
            margin-bottom: 0;
          }
          .tab_link {
            & > a {
              // padding: 1rem;
              // background: red;
              margin-left: 10px;
              font-size: 15px;
              padding-top: 1.2rem;
              padding-left: 1.5rem;
              border-radius: 40px;
              /* border: 20px; */
              /* padding: 1rem; */
              background: #0c2738;
              margin-left: 15px;
              font-size: 15px;
              padding-right: 1.5rem;
              padding-bottom: 1.2rem;
              color: rgb(149, 145, 145);
              font-weight: 600;

              &:hover {
                color: white;
              }
              @include mobile {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-right: 2.5rem;
                padding-left: 2.5rem;
              }
              @include tablets {
                padding-top: 1.3rem;
                padding-bottom: 1.3rem;
                padding-right: 2rem;
                padding-left: 2rem;
              }
              @include tablet {
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;
                padding-right: 3.2rem;
                padding-left: 3.2rem;
                // padding: 3rem;
              }
            }
            .unselected {
              background: red;
            }
            .unselecteds {
              background: white;
              color: black;
              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
    .movie_left {
      display: none;
      //   margin-left: 20px;
      //   margin-right: 10px;
      @include tablet {
        transform: translateX(20px);
      }
      .movie_title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @include tablets {
          flex-direction: row;
          display: flex;
          align-items: center;

          //  justify-content: space-around;
        }
        & > span {
          margin-top: 40px;
          margin-bottom: 40px;
          color: #f1b722;
          font-size: 23px;
          line-height: 38px;
          font-weight: 900;
          text-transform: uppercase;
          //  font-weight: bold;
          //  text-transform: uppercase;
          //  font-family: Nunito,sans-serif !important;
        }
      }

      @include tablets {
        flex: 1;
        // background-color: green;
        height: 500px;
        display: block;
      }
      .movie_seriesHot {
        height: 600px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px #555555;
          background-color: #081b27;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(110, 109, 109);
          // border: 2px solid #555555;
          outline: 1px solid slategrey;
        }
      }
    }
  }
  .movie_old {
    .movie_titles {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      @include tablets {
        flex-direction: row;
        display: flex;
        align-items: center;
      }
      & > span {
        margin-top: 80px;
        margin-bottom: 40px;
        color: #f1b722;
        font-size: 35px;
        line-height: 38px;
        font-weight: bold;
        text-transform: uppercase;
        //  font-family: Nunito,sans-serif !important;
        @include tablets {
          font-size: 40px;
          font-family: Nunito, sans-serif !important;
        }
      }
    }
  }
}
