@use  "./../../../../../sass/index.scss" as *;
.watch_contents{

   .watch_name{
& > p {
   padding:3rem 0rem 2rem 0;
            font-size: 38px;
            line-height: 3.8rem;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: Nunito,sans-serif !important;
    @include mobile{
      padding: 0;
      padding-bottom: 1rem;
    text-align: left;
    font-size: 40px;
    line-height: 3rem;
 }
 @include tablets{

   font-size: 60px;
   line-height: 5rem;
 }
 @include tablet{

   font-size: 50px;
   line-height: 5rem;
 }
}
   }
   .watch_director,.watch_time{
      font-size: 14px;
      margin-right: 10px;
      color: white;
      display: flex;
      font-weight: 600;
& > p {
   margin-left: 20px;
}
      & > span{
         font-weight: 900;
         font-size: 15px;
      }
   }
   .watch_day{
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      color: white;
      margin-bottom: 1.5rem;
      & > span{
         margin-left: 10px;
      }
   }
   .watch_description{
      // display: flex;
      span{
         margin: auto;
         width:70%;// chiều rộng bằng khối bao nó
      white-space: pre-wrap; 
      overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
      text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
      -webkit-line-clamp: 10;// số dòng muốn hiển thị
      -webkit-box-orient: vertical;
       display: -webkit-box;
       font-size: 14px;
       color: white;
       font-weight: 600;
       position: relative;
      //  &::after{
      //     content: "";
      //  }
@include mobile{
   margin: 0;
   margin-right: auto;
   width: 90%;
   white-space: pre-wrap; 
   overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
   text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
   -webkit-line-clamp: 8;// số dòng muốn hiển thị
   -webkit-box-orient: vertical;
    display: -webkit-box;
}
@include tablets{
   margin: 0;
   margin-right: auto;
   width: 90%;
   white-space: pre-wrap; 
   overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
   text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
   -webkit-line-clamp: 5;// số dòng muốn hiển thị
   -webkit-box-orient: vertical;
    display: -webkit-box;
}
@include tablet{
   margin: 0;
   margin-right: auto;
   width: 90%;
   white-space: pre-wrap; 
   overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
   text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
   -webkit-line-clamp: 4;// số dòng muốn hiển thị
   -webkit-box-orient: vertical;
    display: -webkit-box;
}

      }
      & > span:last-child{
         color: #14638a;
         font-size: 15px;
         font-weight: 900;
         cursor: pointer;
      }
   }
}
