@use "./../../../sass/index.scss" as *;
.description{
   min-height: 100vh;
   background-color:#081b27 ;
.headers{
   position: relative;

   .headers_figure{
      // @include mobile{
      //    min-height: 1000px;
      //   }
      background-color: rgba(7,24,34,.8);
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(14%,rgba(12,39,56,0)),to(#081b27));
      background-image: linear-gradient(
  180deg,rgba(12,39,56,0) 14%,#081b27);
  overflow: hidden;
  @include mobile{
   height: 80vh;
   min-height: 850px;
 }
//   @include tablets{
//    min-height: 1000px;
//  }
//   @include tablet{
//    min-height: 1000px;
//  }
& > img{
   top: 0;
 
   // height: 200px;

   min-height: 1050px;
   
   width: 100%;
   background-position: 50% 50%;
   background-size: cover;
   opacity: 0.2;
 flex: 1;
 @include mobile{
   height: 90vh;
   min-height: 850px;
 }
   // transform: scale(1.2);
//    @include mobile{
// height: 100%;
//     }
   //  @include tablets{
   //  height: 900px;
   //        }
   //        @include tablet{
   //      height: 600px;
   //              }
// @include tablets{
// min-height: 800px;
// }
}
   }
   .headers_content{
      top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   //  left: 25%;
   //  right: 15%;
   padding:0 5rem;
      top: 10%;
   // margin: 0 auto;
     @include mobile{
      padding:0 ;
      column-gap: 70px;
      left: 2%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
     
     }
     @include tablets{
      column-gap: 70px;
      top: 20%;
      display: flex;
    
     }
     @include tablet{
      column-gap: 100px;
      top: 15%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      left: 13%;
    
     }
     .headers_left{
        margin-right: auto;
        
     }
     .headers_right{
        @include tablets{
         margin-left: 90px;
        }
        @include tablet{
         margin-left: 100px;
      }
     }
   }
}
.body_old{

   min-height: 500px;
   // border: none;
   // border-top: 0px solid rgb(51, 48, 48);
   // p:first-child{
   //    padding: 1rem;
   //    font-size: 18px;
   //    color: white;
   //    font-weight: 600;
   // }
   // div:nth-child(1){
   //    width: 90%;
   //    margin: auto;
   // }
   // div:nth-child(2){
   //    width: 90%;
   //    margin: auto;
   // }
   // p{
   //    width: 90%;
   //    margin: auto;
   // }
   // img{
   //    width: 100%;
   // }
   .body_contentOld{
      width: 100%;
      font-size: 14px;
      color: #9cabb6;
      font-family:"Montserrat",sans-serif!important;
      padding-bottom: 8rem;
      /* margin-bottom: 5rem; */
      border-bottom: 1px solid rgba(155, 148, 148, 0.048);
      img{
         width: 100%;
         padding-top: 2rem;
         padding-bottom: 2rem;
         border-radius: 10px;
      //    @include tablet{
      //       width: 80%;
      //   display: flex;
      //   margin: auto;
      //    }
      }
      // & > p{
      //    padding: 2rem;
      // }
      // p:first-child{
      //    padding: 0.8rem;
      //    font-size: 20px;
      //    color: white;
      //    font-weight: 600;
      // }
      // div:first-child{
      //    width: 95%;
      //    margin: auto;
      //    @include tablet{
      //       width: 65%;
      //       margin: auto;
      //       display: flex;
      //       flex-direction: column;
      //    }
      // }
      // div:nth-child(2){
      //    width: 95%;
      //    margin: auto;
      //    font-size: 25px;
      //    color:#f1b722 ;
      //    font-weight: 600;
      //    padding: 1rem;
      //    @include tablet{
      //             width: 65%;
      //             margin: auto;
      //             display: flex;
      //             flex-direction: column;
      //          }
      // }
      // div:nth-child(2){
      //    width: 95%;
      //    margin: auto;
      //    font-size: 25px;
      //    color:#f1b722 ;
      //    font-weight: 600;
      //    padding: 1rem;
      //    @include tablet{
      //             width: 65%;
      //             margin: auto;
      //             display: flex;
      //             flex-direction: column;
      //          }
      // }
      // p{
      //    width: 95%;
      //    margin: auto;
      //    @include tablet{
      //       width: 61%;
      //    }
      // }
      // img{
      //    width: 100%;
      //    padding-top: 2rem;
      //    padding-bottom: 2rem;
      //    border-radius: 10px;
      //    @include tablet{
      //       width: 50%;
      //    }
      // }
   
      @include mobile{
         width: 85%;
         margin: auto;
         
      }
      @include tablets{
         width: 75%;
         margin: auto;
         font-size: 17px;
      }
      @include tablet{
         width: 55%;
         margin: auto;
         font-size: 17px;
      }
   }
   @include mobile{
     
      min-height: 100px;
   }
   // @include tablets{
    
   // }
   // @include tablet{
    
   // }
  
      // &>p{
      //    font-size: 15px;
      // }
   }
.trailer{
  
   .trailer_body{
      
      & >iframe{
         border-radius: 10px;
         height: 200px;
         @include mobile{
            height: 380px;
         }
         @include tablets{
            height: 420px;
         }
         @include tablet{
            height: 450px;
         }
      }
   }
   .trailer_container{
      @include mobile{
         width: 90%;
         margin: auto;
         padding-bottom: 5rem;
      }
      @include tablets{
         width: 75%;
         margin: auto;
         padding-bottom: 5rem;
      }
   @include tablet{
      width: 53%;
      margin: auto;
      padding-bottom: 5rem;
   }
   
      .trailer_title{
         padding-top: 4rem;
         padding-bottom: 4rem;
         & > p{
            font-size: 20px;
            color: #f1b722;
            font-weight: bold;
            
         }
      }
   }
}
.countine{

   
   .countine_title{
      text-align: center;
      margin: auto;
      font-size: 25px;
            color: #f1b722;
            font-weight: bold;
            padding: 3rem;
            width: 70%;
            @include mobile{
               font-size: 35px;
               width: 80%;
            }
   }
   .countine_container{
      padding-bottom: 5rem;
      @include tablet{
         width: 71%;
         margin: auto;
         // padding-bottom: 5rem;
      }
   }
}

}
