@use  "./../../../sass/index.scss" as *;
.old{
   background-color: #081b27;
   min-height: 80vh;
   position: relative;
   padding-bottom: 80px;
   @include tablets{
      min-height: 100vh;
   }
   @include tablet{
      min-height: 200vh;
   }
   .old_container{
      @include tablet{
         width: 75%;
         margin: auto;
      }
      .old_title{
         font-size: 25px;
    color: #e0a823;
    text-align: left;
    padding-top: 7rem;
   //  padding-bottom: 2rem;
    font-weight: 800;
    font-family: Nunito,sans-serif;
   //  font-family: Catamaran,sans-serif;
   // font-family: 'Open Sans', sans-serif;
   // font-family: 'Outfit', sans-serif;
   // font-family: 'Roboto', sans-serif;
    @include tablets{
      font-size: 38px;
      text-align: center;
      padding: 5rem 5rem 2rem 5rem;
    }
    @include tablet{
   
      padding: 6rem;
    }
      }
      .old_search{
         padding-top: 5rem;
         @include mobile{
            padding-top: 2rem;
         }
         @include tablets{
            width: 95%;
            margin: auto;
         }
         & > form {
            display: flex;
            position: relative;
            // width: 100%;
            & > input{
             width: 100%;
             padding: 1rem;
             border-radius: 5px;
             border: none;
           @include tablet{
            padding: 1.3rem;
           }
            }
            & > button{
               cursor: pointer;
               color: white;
               font-size: 15px;
               position: absolute;
               right: 0;
               top: 0;
               bottom: 0;
               padding-right: 2rem;
               padding-left: 2rem;
               border: none;
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
               background-color: #3898ec;
            }
         }
      }
      .old_left{
         // display: flex;
         // justify-content: center;
         // align-items: center;
      }
   
      .old_right{
    
        .error{
           display: flex;
           align-items: center;
         & > svg{
            font-size: 25px;
            color: yellow;
         }
          & > span{
            color: red;
            font-size: 20px;
            font-weight: 600;
            margin-left: 10px;
          }
        }
      }
   }
   .old_pagination{
      position: absolute;
      // left: 50%;

      left: 50%;
      // margin-left: 3px;
      transform: translateX(-50%);
      // transform: translateY(100px);
   //  padding-bottom: 3rem;
   bottom: 10px;
   // padding: 3rem;
 @include tablet{
   bottom: 100px;
 }
      & > ul{
         & > li{
            cursor: pointer;
            // color: red;
            & > button{
               // cursor: pointer;
               // background-color: yellow;
               // color: black;
               font-size: 14px;
               & > svg{
                  font-size: 25px;
                  color: white;
               
                  // &:hover{
                  //    color: red;
                  // }
               }
            } 
         }
      }
   
   }
}