@use  "./../../../../../sass/index.scss" as *;
.old_list{
   // padding-bottom: 200px;
   // border-bottom: 1px solid;
   padding: 1rem;
   @include mobile{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .old_item{
      display: flex;
            flex-direction: column;
      @include mobile{
         // width: 24%;
         flex-basis: 23.5%;
         padding: 0rem;
      }
      .old_adside{
         margin: auto;
         @include mobile{
            margin: 0;
         }
   
   & > img{
      width: 200px;
      height: 300px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
   flex-shrink: 0;
   
   @include mobile{
      width: 100%;
      height: 260px;
   }
   }
      }
      .old_header{
         .old_evanta{
            text-align: center;
   
         }
         .old_name{
            & >p{
               font-family: Nunito,sans-serif;
               text-align: center;
               font-size: 20px;
               color: white;
               font-weight: 550;
            }
         }
         .old_premiere{
            & > img{
               width: 15px;
            }
   
            & > p{
               display: inline-block;
               color: #cad3da;
               text-decoration: underline;
               text-align: left;
               margin-left: 8px;
               font-size: 13px;
               color: white;
               padding-top: 20px;
          
            }
         }
      }
   }
}
