@use  "./../../../sass/index.scss" as *;
.select{
  
padding-top: 5rem;
margin-left: 10px;
margin-bottom: 5rem;
&_container{
   display: flex;
   flex-wrap: wrap;
   @include mobile{
      justify-content: center;
   }

   @include tablet{

      margin: auto;
      justify-content: flex-start;
   }
   & > button{
      padding: 1rem;
      /* height: 10px; */
      /* padding: 2rem; */
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      border: 1px solid black;
      cursor: pointer;
   }
   .select1,.select2,.select3,.select4{
      width: 33%;
      margin-bottom: 1rem;
      @include mobile{
         width: 20%;
      }
   @include tablets{
      width: 20%;
   }
      #select_movie{
         cursor: pointer;
         width: 90%;
         height: 100%;
         background-color: #081b27;
         color: white;
         // padding: 1rem;
         // width: 300px;
         @include tablet{
            height: 30px;
         }
      }
   }
}


}
select{
   cursor: pointer;
}